.LogoBadge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: var(--gap-logo);
    background: var(--gradient-logo);
    box-shadow: var(--shadow-logo);
    border-radius: var(--radius-full);
    flex: none;
}

.LogoBadge__Icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
