.LogoBadge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 52px;
    height: 52px;
    background: linear-gradient(360deg, rgba(35, 35, 35, 0) 50%, rgba(35, 35, 35, 0.06) 100%), #FFFFFF;
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 12px 8px rgba(0, 0, 0, 0.03);
    border-radius: 100px;
    flex: none;
}

.LogoBadge__Icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
