.InputGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    width: 100%;
}

.InputGroup__Label {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-text-title);
}

.InputGroup__Error {
    position: absolute;
    font-size: 10px;
    bottom: -16px;
    left: 8px;
    line-height: var(--line-height-base);
    color: var(--color-error);
    margin: 0;
}
